<div class="job-edit-wrapper">
<h2 class="job-edit-title">Edit the job by filling out the form where you want your changes.</h2>
<% holder = [] %>
<% checker = false %>

<% for b in @boats %>
	<% if b.jobs != nil %>
		<% if b.jobs.include?(@job) == false %>
			<% holder.push(b) %>
		<% end %>
	<% else %>
		<% holder.push(b) %>
	<% end %>
<% end %>
<% counter = 0 %>
<% for b in @job.boats %>
	<% counter += b.no_containers %>
<% end %>

<%= form_for @job do |j| %>


	<% if counter <= @job.containers_needed %>
	<div class="show-form-wrapper-long">
		<div>Add a boat: </div><div><%= select_tag "boats", options_from_collection_for_select(holder, "id", :showcase ), :include_blank => true %></div>
	<% else %>
		<div class="show-form-wrapper-short">
	<% end %>
	<div>Remove a boat: </div><div><%= select_tag "boats_remove", options_from_collection_for_select(@job.boats, "id", :showcase ), :include_blank => true %></div>
	<div>Name: </div><div><%= j.text_field :name, placeholder: "#{@job.name}" %> </div>
	<div>Origin: </div><div> <%= j.text_field :origin, placeholder: "#{@job.origin}"%></div>
	<div>Destination: </div><div> <%= j.text_field :destination, placeholder: "#{@job.destination}" %> </div>
	<div>Containers Needed: </div><div><%= j.number_field :containers_needed , placeholder: "#{@job.cost}"%></div>
	<div>Cost: </div><div><%= j.number_field :cost, step: :any %></div>
	<div>Description: </div><div><%= j.text_area :descrip, placeholder: "#{@job.descrip}"%></div>
	<%= j.submit 'submit', :class => "form-button", data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
