<% if user_signed_in? %>
	<%= link_to "Create a New Job", new_job_path %>
<% end %>
<% if @jobs.length != 0 %>
<div class="job-wrapper">
	<% for j in @jobs %>
		<div>Name: <%= j.name %></div>
		<div>Origin: <%= j.origin %></div>
		<div>destination: <%= j.destination %></div>
		<div>Description: <%= j.descrip %></div>
		<div>Cost: $<%= j.cost %></div>
		<div>Containers Needed:<%= j.containers_needed %></div>
		<%=  link_to "View Job", job_path(j) %>
		<!-- <a href="jobs/<%= j.id %>/show"> View Job </a> -->
	<% end %>
</div>
<% else %>
	<div> No jobs available. What went wrong? </div>

<% end %>