<% if @jobs.length != 0 %>
<div class="job-wrapper">
	<% for j in @jobs %>
		<div><%= j.name %></div>
		<div><%= j.origin %></div>
		<div><%= j.destination %></div>
		<div><%= j.descrip %></div>
		<div><%= j.cost %></div>
		<div><%= j.containers_needed %></div>
		<%=  link_to "View Job", job_path(j) %>
		<!-- <a href="jobs/<%= j.id %>/show"> View Job </a> -->
	<% end %>
</div>
<% else %>
	<div> No jobs available. What went wrong? </div>

<% end %>