<h2 class='page-title'>Jobs</h2>

<% if @jobs.length != 0 %>
	<div class="jobs-wrapper">
		<% for j in @jobs %>
			<div class="job-listing">
				<div class="job-basic-info">
					<div>Name: <a href="/jobs/<%= j.id %>"><%= j.name %></a></div>
					<div>Origin: <%= j.origin %></div>
					<div>Destination: <%= j.destination %></div>
				</div>
				<div class="job-add-info">
					<div>Cost: $<%= j.cost %></div>
					<div>Containers needed: <%= j.containers_needed %></div>
				</div>
				<div class="job-descrip">
					<div>Description: <%= j.descrip %></div>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div> No jobs available. What went wrong? </div>
<% end %>
