<h1 class="new-job-title"> Please fill out the form below to create a new job: </h1>

<% if user_signed_in? %>
<% puts current_user.id %>
  <%= form_for Job.new do |j| %>
<div class="new-job-wrapper">
    <div>Name: </div><div><%= j.text_field :name, placeholder: "job name" %></div>
    <div>Origin: </div><div> <%= j.text_field :origin, placeholder: "origin" %> </div>
    <div>Destination: </div><div><%= j.text_field :destination, placeholder: "destination" %></div>
    <div>Cost: </div><div><%= j.number_field :cost, :step => 0.01, placeholder: "cost ($xxxx.xx)" %></div>
    <div>Containers Needed: </div><div><%= j.number_field :containers_needed, placeholder: "num containers needed" %></div>
    <div>Description: </div><div><%= j.text_area :descrip, required: true , minlength: 20, placeholder: "description" %></div>
    <%= j.submit 'submit', :class => "form-button" ,  data: { confirm: 'Are you sure?' } %>
</div>
  <% end %>
<% end %>
