<div class="jobs-wrapper">
	<h2 class='page-title'><%= @job.name %></h2>

	<div class="job-listing">
		<div class="job-basic-info">
			<div><strong>Name:</strong> <%= @job.name %></div>
			<div><strong>Origin:</strong> <%= @job.origin %></div>
			<div><strong>Destination:</strong> <%= @job.destination %></div>
		</div>
		<div class="job-add-info">
			<div><strong>Cost:</strong> $<%= @job.cost %></div>
			<div><strong>Containers needed:</strong> <%= @job.containers_needed %></div>
		</div>
		<div class="job-descrip">
			<div><strong>Description:</strong> <%= @job.descrip %></div>
		</div>
	</div>

  <% if @job.user_id == current_user.id || current_user.admin? == true %>
	  <%= link_to "EDIT JOB", edit_job_path(@job), :class => 'link-button' %>
	  <%= link_to 'DELETE JOB', @job, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'link-button' %>
  <% end %>

	<h2 class='page-title'>Boats</h2>

	<% b = @job.boats %>
	<% if b.length != 0 %>
		<% for boat in b %>
			<div><a class='site-link' href="/boats/<%= boat.id %>"><%= boat.name %></a></div>
		<% end %>
	<% else %>
		<div>No boats assigned to this job.</div>
	<% end %>
	<div>

</div>
