<div class="job-show-wrapper">
	<h1>Job: </h1>
	<div>Name: <%= @job.name %></div>
	<div>Origin: <%= @job.origin %></div>
	<div>Destination: <%= @job.destination %></div>
	<div>Description: <%= @job.descrip %></div>
	<div>Cost: $<%= @job.cost %></div>
	<div>Containers Needed: <%= @job.containers_needed %></div>
	<div>Boats: </div>
	<% b = @job.boats %>
	<% if b.length != 0 %>
		<% for boat in b %>
			<div><%= boat.name %></div>
		<% end %>
	<% else %>
		<div>No boats assigned to this job</div>
	<% end %>
	<div>
		<% if @job.user_id == current_user.id || current_user.admin? == true %>
			<%= link_to "Edit this job", edit_job_path(@job) %>
			<%= link_to 'Delete this job',  @job,  method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>


	</div>

</div>

