<div class="job-show-wrapper">
	<h1>Job: </h1>
	<div><%= @job.name %></div>
	<div><%= @job.origin %></div>
	<div><%= @job.destination %></div>
	<div><%= @job.descrip %></div>
	<div><%= @job.cost %></div>
	<div><%= @job.containers_needed %></div>
	<div>Boats: </div>
	<% b = @job.boats %>
	<% if b.length != 0%>
		<% for boat in b %>
			<div><%= boat.name %></div>
		<% end %>
	<% else %>
		<div>No boats assigned to this job</div>
	<% end %>
	<div>
		<%= link_to "Edit this job", edit_job_path(@job) %>
		<%= link_to 'Delete this job',  @job,  method: :delete, data: { confirm: 'Are you sure?' } %>


	</div>

</div>

