<div class='profile-wrapper'>
  <div class='profile-information'>
    <div class='profile-picture'>
    </div>
    <div class='profile-text'>E-mail: <%= @user.email %></div>
    <% if current_user.admin? == true %>
      <div class="profile-text"> Admin status: <%= @user.admin? %> </div>
    <% end %>
  </div>
  <div class='profile-job-listings'>
    <h2 class='jobs-title'>Jobs</h2>
    <% @jobs.each do |j| %>
      <div class='job-listing'>
        <div class='job-basic-info'>
          <div><span class='job-listing-property-title'>Name</span>: <a href="/jobs/<%= j.id %>"><%= j.name %></a></div>
          <div><span class='job-listing-property-title'>Origin</span>: <%= j.origin %></div>
          <div><span class='job-listing-property-title'>Destination</span>: <%= j.destination %></div>
        </div>
        <div class='job-add-info'>
          <div><span class='job-listing-property-title'>Cost</span>: $<%= j.cost %></div>
          <div><span class='job-listing-property-title'>Containers Needed</span>: <%= j.containers_needed %></div>
        </div>
        <div class='job-descrip'>
          <div><span class='job-listing-property-title'>Description</span>: <%= j.descrip %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <% if current_user.admin? == true %>
      <%= form_for @user , html: { method: :post } , url: '../../users/admin_form' do | u | %>
        <div class='profile-admin-form'> 
         <div>Make admin?: </div><div><%= check_box_tag 'admin?', :as => :boolean, input_html: {checked: false} %></div>
         <%= hidden_field_tag 'user_id' , @user.id %>
          <%= u.submit 'submit', :class => "form-button", data: { confirm: 'Are you sure?' }%>
        </div>
      <% end %>
  <% end %>
