<div class='registration-content'>
  <h2 class='page-title'>Log in</h2>

  <div class='registration-form'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email, :class => "form-title" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-text-field" %>

      <%= f.label :password, :class => "form-title" %>
      <%= f.password_field :password, autocomplete: "current-password", :class => "form-text-field" %>

      <%= f.submit "Submit", :class => "form-button" %>
    <% end %>
  </div>
</div>
