<div class='registration-content'>
  <h2 class='page-title'>New Boat</h2>

  <div class='registration-form'>
    <%= form_for Boat.new do |b|%>
        <%= b.label :name, 'Boat Name', :class => 'form-title' %>
        <%= b.text_field :name, :class => 'form-text-field' %>

        <%= b.label :no_containers, 'Num of Containers', :class => 'form-title' %>
        <%= b.text_field :no_containers, :class => 'form-text-field' %>

        <%= b.label :loc, :class =>'form-title' %>
        <%= b.text_field :loc, :class => 'form-text-field' %>

        <%= b.submit "Submit", :class => "form-button" %>
    <% end%>
  </div>
</div>
