<h1> <strong><%= @boat.name%></strong> </h1>

<div class="">
  <div class="">
    Number of Containers: <strong><%= @boat.no_containers%></strong>
  </div>
  <div class="">
    Boat location: <strong><%= @boat.loc%></strong>
  </div>

  <br>
  <%= link_to 'update', edit_boat_path%>
  <br>
  <%= link_to 'delete', boat_path, method: :delete %>
</div>
