<h2 class='page-title'> <%= @boat.name%> </h2>

<div class='boat-listing'>
  <% if @boat.id % 5 == 1 %>
    <div class='boat-image ship1'></div>
  <% elsif @boat.id % 5 == 2 %>
    <div class='boat-image ship2'></div>
  <% elsif @boat.id % 5 == 3 %>
    <div class='boat-image ship3'></div>
  <% elsif @boat.id % 5 == 4 %>
    <div class='boat-image ship4'></div>
  <% else %>
    <div class='boat-image ship5'></div>
  <% end %>
  <div class='boat-listing-information'>
    <div><strong>Name</strong>: <%= @boat.name %></div>
    <div><strong>Number of containers</strong>: <%= @boat.no_containers %></div>
    <div><strong>Location</strong>: <%= @boat.loc %></div>
  </div>
</div>

<%= link_to 'Update', edit_boat_path, :class => 'link-button' %>

<div class='jobs-wrapper'>
  <h2 class='page-title'>Jobs</h2>
  <% j = @boat.jobs %>
  <% if j.length != 0%>
    <% for job in j %>
      <div><a class='site-link' href="/jobs/<%= job.id %>"><%= job.name %></a></div>
    <% end %>
  <% else %>
    <div>No jobs assigned to this boat yet.</div>
  <% end %>
</div>
