<!DOCTYPE html>
<html>
  <head>
    <title>Shipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/ships">Ships</a></li>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
